.project-item-right {
    height: 100%;
    float: right;
    display: grid;
    width: 30%;
    overflow: auto;
}

.project-item-left {
    height: 100%;
    float: left;
    display: grid;
    width: 70%;
    overflow: auto;
    padding: 10px;
}
