.main-project-item {
    padding: 15px;
    .project-item-right {
        height: 100%;
        float: right;
        display: grid;
        width: 30%;
        overflow: hidden;
        padding: 15px;
        padding: 20px;
    }
    .example::-webkit-scrollbar {
        display: none;
    }

    .project-item-left {
        height: 100%;
        float: left;
        display: grid;
        width: 70%;
        overflow: hidden;
        padding: 15px;
    }
}
