.main-project-item {
    padding: 15px;
    .project-item-right {
        height: 100%;
        float: right;
        display: grid;
        width: 30%;
        overflow: scroll;
        padding: 15px;
        padding: 20px;
    }

    .project-item-left {
        height: 100%;
        float: left;
        display: grid;
        width: 70%;
        overflow: scroll;
        padding: 15px;
    }
}
